<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Hangman</title>
    <link rel="stylesheet" href="/static/Hangman.css?v=2">
</head>
<body>
    <div class="Pages"> <!--classe pour la page d'accueil-->

        
        <div class="HautDePage">
            <h1 class="TitreH">Bienvenue au Pendu</h1>
            <p class="MotsImportants2">
                "Un prisonnier a été condamné à la potence, son sort dépendra de vous !"
            </p>
            <p class="MotsImportants">
                "Sauriez-vous le sauver ?"<br>
                OU<br>
                "Serez-vous celui qui le condamne ?"
            </p>
            
            
        </div>

        <div class="images-Accueil">
            <!--L'image est le "background" de la div dans le css-->
        </div>
        <p class="InformationsImportantes">
            Jeu réalisé par le groupe : MAUSSANT Mathéo et COCHET Gabriel
        </p>
        <div class="bouton-page">
            
            <form method="POST">
                <button class="boutonPage" type="submit">Démarrer</button>
            </form>
        </div>

    </div>
</body>
</html>
