<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/Hangman.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <h1 class="top-text">Hangman-Web</h1>
    <h2 class="top-text">
        Home page
    </h2>
    <br><br>
        
        <div class="jeu">
            <form action="/game" method="post">
                <button type="submit">Démarrer une nouvelle partie</button>
            </form>
            
        </div>
    </div>
</body>
</html>
