/* CSS GENERAL */
body {
    background-image: url("./fond-site.jpeg");
    background-size: cover;
    background-attachment: fixed;  /* Fixe l'image de fond, elle ne se déplace pas */
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% de la hauteur de la fenêtre du navigateur */
    color: white;
    font-family: Georgia, serif;

    /* Centrage avec Flexbox */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    /* Centrage avec Flexbox */

}
/* Pour éviter le défilement horizontal */
html, body {
    overflow-x: hidden; /* Empêche le défilement horizontal */
}
.TitreH {
    font-size: xx-large;
    color: rgb(240, 106, 106);
}
/* FIN CSS GENERAL
/*--------------------------------------------------------------------------------------------------------------*/
/*DEBUT DU CSS COMMUN ENTRE L'ACCUEIL , LA DEFAITE , ET LA VICTOIRE */
/* Les divs */
.Pages{
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    color: white;
    box-sizing: border-box;
    height: 100%;

    /* Centrage avec Flexbox */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    /* Centrage avec Flexbox */

}
.HautDePage{
    width: 75%;
    height: 30%;
    padding: 10px;
    text-align: center;
}

.bouton-page {
    display: flex;
    justify-content: center;
    width: 75%; 
    height: 10%;
    padding: 20px;
    color: white;
    box-sizing: border-box;
}
/* Fin des divs */
/* Le bouton */
.boutonPage {
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5px;
    width: 500px;
    height: 50px;
}
.MotsImportants {
    font-size: x-large;
    color: red;
}
.MotsImportants2 {
    font-size: x-large;
    color: white;
}

/*FIN DU CSS COMMUN ENTRE L'ACCUEIL , LA DEFAITE , ET LA VICTOIRE */
/*--------------------------------------------------------------------------------------------------------------*/
/* PAGE D'ACCUEIL */
.images-Accueil {
    width: 60%; 
    height: 60%; 
    background-image: url("./home.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
/* FIN PAGE ACCUEIL */
/*--------------------------------------------------------------------------------------------------------------*/
/* PAGE DE VICTOIRE */
.images-Victoire {
    width: 55%; 
    height: 60%; 
    background-image: url("./victory.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*FIN PAGE DE VICTOIRE */
/*--------------------------------------------------------------------------------------------------------------*/
/* PAGE DE DEFAITE */
.images-Defaite {
    width: 55%; 
    height: 60%; 
    background-image: url("./gameover.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
/* FIN PAGE DE DEFAITE */
/*--------------------------------------------------------------------------------------------------------------*/
/* CSS COMMUN ENTRE VICTOIRE , DEFAITE , ET JEU */

.InformationsImportantes {
    font-size: x-large;
    color: white;
}

/* FIN CSS COMMUN ENTRE VICTOIRE ET DEFAITE */
/*--------------------------------------------------------------------------------------------------------------*/
/*PAGE DE JEU */

.blocks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%; /* Occupe toute la largeur de l'écran */
    padding: 20px;
    color: white;
    box-sizing: border-box;
}
/* La div des regles */
.Regles {
    width: 30%;
    padding: 10px;
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-right: 10px;
    background-image: url("./arbre-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
/* Div contenant le formulaire du jeu */
.jeu {
    width: 50%;
    padding: 10px;
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("./arbre-2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
/* TITRE */
.Titre {
    font-size: xx-large;
}
/* INFORMATIONS IMPORTANTES */
.InformationsImportantes2 {
    font-size: large;
    color: white;
}
/* Affichage du pendu */
.affichage-pendu {
    width: auto;
    height: 375px;
    text-align:center;
    background-image: url(./listes-fond.jpg);
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column; 

    /* Centrage avec Flexbox */
    display: flex;
    justify-content: top; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    /* Centrage avec Flexbox */

}
.pendu {
    font-weight: bold;
    white-space: pre; /* Important pour conserver la mise en forme du pendu */
    text-align: left;
    margin-left:10px;
    margin-top: -40px;
    font-size: x-large;
}
/* Pour l'input du texte */
input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-top: 50px;
}
/* Style pour les boutons */
.boutons {
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5px;
}
/* Liste des lettres et mots */
.ListeUl {
    font-size: medium;
}
.listes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 15%;
    color: white;
    margin-right: 20px;
    margin-left: 10px;
    height: 730px;
}
/* Styles pour les listes de lettres et de mots */
.liste-lettres, .liste-mots {
    width: 100%;
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url("./listes-fond.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
}
.liste-lettres {
    margin-top: 0px;
    margin-bottom: 10px;
}
.liste-mots {
    margin-top: 10px;
    margin-bottom: 0px;
}
/* FIN PAGE DE JEU */
/*--------------------------------------------------------------------------------------------------------------*/

